.DS_Store
.nextflow
.nextflow.log
.nextflow.log.*
.RData
.Rhistory
.Rproj.user
.vscode
data
database
databases
kneaddata_db
metaphlan_db
humann_db
humann_nucdb
humann_protdb
chocophlan
uniref
work
results
humann_genefam_dir
humann_renorm_dir
.done