/*
 * ==================================================
 * EPSCoR-NASA Microbiome Pipeline configuration file
 * Version: <version>
 * Author: Your Name
 * Date: 2023-10-01
 * ==================================================
 */

/*
 * Manifest information
 * --------------------
 */


/* 
 * Execution parameters
 * --------------------
 */
 params.samplesheet = null
 params.output = null
 params.library = "PE"


/*
 * Module specific parameters
 * --------------------------
 */

 // Parameters for FastQC module


 // Paramters for KneadData module
 params.kneaddata_db = null
 params.decontaminate_pairs = "lenient" 

 

 //params.humann_db = "path/to/humann_db"
 //params.metaphlan_db = "path/to/metaphlan_db"
 //params.bowtie2_index = "path/to/bowtie2_index"

/*
 * Define execution profiles for different environments
 * ----------------------------------------------------
 */


// Help message
params.help_message = """

        Usage:

        ```
        nextflow main.nf \\
            --samplesheet INPUT.csv \\
            --output OUTPUT_DIR \\
            --library PE \\
            --kneaddata_db REFERENCE_DB \\
            --decontaminate_pairs {strict, lenient, unpaired}
        ```

        parameter options:
            * --samplesheet : path to a CSV file where each row specifies the 
                  sample name and the file paths to paired-end 
                  FASTQ files (R1 and R2), separated by commas.

            * --output : path to the output directory where results will be saved.

            * --library : sequencing library type, e.g., PE for paired-end or SE for single-end. (default: PE)

            * --kneaddata_db : path to the KneadData reference database required for decontamination.

            * --decontaminate_pairs : specify the decontamination mode, either 'strict', 'lenient' or 'unpaired'. (default: lenient)
    """