/*
 * ==================================================
 * EPSCoR-NASA Microbiome Pipeline configuration file
 * Version: v0.1
 * Author: Kanishka Manna & Hans Vasquez-Gross
 * Date: 2025-04-18
 * ==================================================
 */

/*
 * ---------------- Manifest information --------------- *
 */


/* 
 * ---------------- Define parameters ---------------- *
 */
params {

    // ----- Execution parameters ----- //
    help = false
    samplesheet = null
    output = "${baseDir}/results"
    force = false


    // ---------- Module specific parameters ---------- //
    // KneadData:
    kneaddata_db = "human_transcriptome:bowtie2,ribosomal_RNA:bowtie2"
    kneaddata_db_path = "${baseDir}/kneaddata_db"

    // MetaphlAn:
    metaphlan_db_path = "${baseDir}/metaphlan_db"

    // HUMAnN:
    humann_nucleotide_db = "chocophlan:DEMO"
    humann_protein_db = "uniref:DEMO_diamond"
    humann_pathway_db = "metacyc"
    humann_nuc_db_path = "${baseDir}/humann_nucdb"
    humann_prot_db_path = "${baseDir}/humann_protdb"

}



/*
 * --------------- Execution profiles for environments --------------- *
 */

profiles {
    local {
        process.executor = 'local'
        conda.enabled = true
        conda.channels = ['defaults', 'conda-forge', 'bioconda', 'biobakery']
        conda.createTimeout = '20 min'
        
        process {
            withLabel: 'kneaddata_conda' {
                conda = "assets/kneaddata.yaml"
            }

            withLabel: 'metaphlan_conda' {
                conda = "assets/metaphlan.yaml"
            }

            withLabel: 'humann_conda' {
                conda = "assets/humann.yaml"
            }

            withLabel: 'multiqc_conda' {
                conda = "assets/multiqc.yaml"
            }
        }

        // Load `base.config` when running locally
        //includeConfig 'conf/base.config'
    }


    //cluster {
    //    process.executor = 'slurm'
    //    conda.enabled = true
    //    conda.channels = ['defaults', 'conda-forge', 'bioconda', 'biobakery']
    //    conda.createTimeout = '20 min'

    //    process {
    //        withLabel: 'kneaddata_conda' {
    //            conda = "assets/kneaddata.yaml"
    //        }

    //        withLabel: 'metaphlan_conda' {
    //            conda = "assets/metaphlan.yaml"
    //        }

    //        withLabel: 'humann_conda' {
    //            conda = "assets/humann.yaml"
    //        }

    //        withLabel: 'multiqc_conda' {
    //            conda = "assets/multiqc.yaml"
    //        }
    //    }
    //}
}


/*
 * --------------- Global Shell settings --------------- *
 */
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']



/*
=====================
    Help Message    
=====================
*/

params.help_message = """

        Usage:

        ```
        nextflow main.nf \\
            -profile local \\
            --samplesheet path/to/INPUT.csv \\
            --output /path/to/OUTPUT_DIR \\
            --kneaddata_db_path /path/to/folder/kneaddata/database/download/ \\
            --kneaddata_db REFERENCE_DB:BUILD \\
            --metaphlan_db_path /path/to/folder/metaphlan/database/download \\
            --humann_db_path /path/to/folder/humann/databases/download \\
            --humann_nucleotide_db NUCLEOTIDE_DB:BUILD \\
            --humann_protein_db PROTEIN_DB:BUILD \\
            --humann_pathway_db PATHWAY_DB
        ```

        parameter options:
            * --samplesheet : Path to a CSV file where each row specifies the sample name and the file paths to paired-end FASTQ files (R1 and R2), separated by commas.

            * --output : Path to the output directory where results will be saved.

            * --kneaddata_db_path : Path to saved or where to save kneaddata databases (default: ./kneaddata_db/)

            * --kneaddata_db : Comma seperated list with no spaces of databases for kneadata to use in database:build format  (default: human_transcriptome:bowtie2,ribosomal_RNA:bowtie2)
                    Possible options: 
                    human_transcriptome:bowtie2, ribosomal_RNA:bowtie2, mouse_C57BL:bowtie2, dog_genome:bowtie2, cat_genome:bowtie2, human_genome:bmtagger

                    There currently is a bug in the current kneaddata v0.12.2 release of kneaddata for human_genome:bowtie2. This will be fixed in 0.12.3.
                    You can manually create the "human_genome_bowtie2" directory and manually download the correct file here 
                    https://huttenhower.sph.harvard.edu/kneadData_databases/Homo_sapiens_hg39_T2T_Bowtie2_v0.1.tar.gz

                    and extract it into the kneaddata_path/human_genome_bowtie2 directory. The within that directory run the following command: touch .done
            
            * --metaphlan_db_path : Path to the directory where metaphlan databases are saved or will be downloaded (default: ./metaphlan_db/)
            
            * --humann_nucleotide_db : Comma separated list with no spaces of nucleotide databases for humann to use in database:build format (default: chocophlan:DEMO)
                    Possible options:
                    chocophlan:full, chocophlan:DEMO

            * --humann_protein_db : Comma separated list with no spaces of protein databases for humann to use in database:build format (default: uniref:DEMO_diamond)
                    Possible options:
                    uniref:uniref50_diamond, uniref:uniref90_diamond, uniref:uniref50_ec_filtered_diamond, uniref:uniref90_ec_filtered_diamond, uniref:DEMO_diamond
            
            * --humann_pathway_db : Specify the database to use for pathway {metacyc, unipathways} computations (default: metacyc)

            * --humann_nuc_db_path : Path to the directory where humann nucleotide database is saved or will be downloaded (default: ./humann_nucdb/)

            * --humann_prot_db_path : Path to the directory where humann protein database is saved or will be downloaded (default: ./humann_protdb/)
    """