/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use. Assumes that all software 
    is installed and available on the PATH. Runs in `local` mode - all jobs will be run 
    on the logged in environment.
----------------------------------------------------------------------------------------
*/

executor {
    name = 'slurm'
    account = 'cpu-s1-inbre-0'
    queueSize = 15     // Max jobs submitted to SLURM at once

}

// Default resource allocations to run the pipeline locally
process {
    executor = 'slurm'
    queue = 'cpu-s1-inbre-0'
    clusterOptions = '--partition=cpu-s1-inbre-0 --account=cpu-s1-inbre-0'


    // Resource specifications by label
    withLabel: 'low' {
        cpus = 2
        memory = 16.GB
        time = '8h'
    }

    withLabel: 'medium' {
        cpus = 4
        memory = 40.GB
        time = '24h'
    }

    withLabel: 'high' {
        cpus = 6
        memory = 50.GB
        time = '48h'
    }


    // Make these processes run sequentially
    withName: DOWNLOAD_KNEADDATA_DB         { maxForks = 1 }
    withName: DOWNLOAD_METPHLAN_DB          { maxForks = 1 }
    withName: DOWNLOAD_HUMANN_NUCLEOTIDE_DB { maxForks = 1 }
    withName: DOWNLOAD_HUMANN_PROTEIN_DB    { maxForks = 1 }
    withName: GENERATE_GOTERMS              { maxForks = 1 }

}