/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use. Assumes that all software 
    is installed and available on the PATH. Runs in `local` mode - all jobs will be run 
    on the logged in environment.
----------------------------------------------------------------------------------------
*/

// Default resource allocations to run the pipeline locally
process {
    executor = 'local'

    // Resource specifications by label
    withLabel: 'low' {
        cpus = 2
        memory = 16.GB
        //time = '1h'
    }

    withLabel: 'medium' {
        cpus = 4
        memory = 40.GB
        //time = '2h'
    }

    withLabel: 'high' {
        cpus = 6
        memory = 50.GB
        //time = '4h'
    }
}